body {
    overflow: hidden;
}

#editor {
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
}
#statusBar {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    background-color: rgb(245, 245, 245);
    color: gray;
}
.ace_status-indicator {
    color: gray;
    position: absolute;
    right: 0;
    border-left: 1px solid;
}